@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: white;
}

a {
  color: #000;
}

h3 {
  color: #5E93DB;
}

.nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F5F5;
}

#montaña_desktop {
  width: 0%;
}

#estela_desktop {
  width: 0px;
}

.nav-logo-avioneta {
  display: inline;
  margin-left: 20px;
  margin-top: 28px;
}

.dark-blue {
  background-color: #071d49;
}

.container-hamburger {
  display: inline;
  cursor: pointer;
  margin-top: 32px;
  margin-right: 15px;
}

.closebutton {
  background-color: #071d49;
}

#ansiedad-mobil {
  width: 100%;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.logo-avioneta-mobile {
  width: 112;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

.desktop-row {
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.desktop-row img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.sabias-que-el {
  color: white;
}

.heading-detox-home {
  padding-top: 42px;
  margin-left: 10px;
  font-size: 40px;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: Regular;
  color: #081E48;
}

.detox-home-container {
  background-color: #F5F5F5;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #081E48;
  padding-bottom: 20px;
}

.detox-paragraph-pilar {
  margin-top: 16px;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.detox-paragraph-indent1 {
  margin-left: 85px;
  font-size: 20px;
}

.desktop-family-image-div {
  display: none;
}

.links-mobile-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo-tacha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.font-200 {
  font-weight: 200;
}

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.bold-600 {
  font-weight: 600;
}

.bold-700 {
  font-weight: 600;
}

.tacha {
  margin-top: 10px;
  margin-right: 10px;
  color: white;
  width: 32px;
}

.menu-mobile-dropdown {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #071d49;
  color: #5E93DB;
  font-size: 45px;
  font-family: "Raleway", sans-serif;
  height: 764;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-mobile-dropdown a {
  color: #5E93DB;
  padding-left: 10px;
  padding: 8px 0px 8px 0px;
  margin-left: 5px;
}

#highlighted-mobile-dropdown {
  color: white;
  border-top: white solid 1px;
  border-bottom: white solid 1px;
}

.icon-list-dropdown-mobile {
  padding-right: 10px;
  justify-self: flex-end;
}

.icon-list-dropdown-mobile {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.detox-home-container-desktop {
  display: none;
}

.detox-paragraph-indent2 {
  margin-left: 145px;
  font-size: 20px;
  padding-bottom: 25px;
}

.image-family {
  width: 100%;
  height: 540px;
  background-image: url(./assets_detox/imagen_familia.png);
}

.container-paragraph-family {
  padding: 15px 10px 15px 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #081E48;
}

.bold-paragraph {
  font-weight: bold;
}

.second-paragraph {
  margin-top: 30px;
}

.container-deperesion-desktop {
  display: none;
}

.blue-line {
  width: 100%;
  height: 2px;
  background-color: #5E93DB;
}

.imagen-chava {
  position: relative;
  z-index: 5;
}

.container-principal {
  position: relative;
  z-index: 5;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 3;
}

.paragraph-partones-consumo {
  position: absolute;
  color: white;
  font-size: 22px;
  padding: 15px 10px 15px 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 3;
}

.pilar-medico-container {
  width: 100%;
  max-height: 1000px;
  background-color: #5E93DB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

#montana_destkop {
  display: none;
}

.heading-3-pilar-medico {
  color: white;
  margin-top: 40px;
  margin-left: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 350;
}

.heading-2-pilar-medico {
  margin-left: 10px;
  color: #081E48;
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  font-weight: 700;
}

.circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: white;
  margin: 20px 0px 20px 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.runner-desktop {
  background-color: none;
}

.paragraph-pilar-medico {
  margin-left: 10px;
  font-size: 20px;
  padding: 30px 10px 30px 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}

.image-runner-mobile {
  width: 100%;
  height: 589px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(./assets_detox/Runner_Mobile.png);
  opacity: .7;
}

.pilar-psicotrapeutico-container {
  background-image: url(../detox/assets_detox/mountain.png);
  width: 100%;
  height: 1358px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading-3-pilar-psicotrapeutico {
  color: white;
  font-size: 20px;
  padding-top: 40px;
  margin-left: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 350;
}

.heading-2-pilar-psicotrapeutico {
  color: #081E48;
  font-size: 40px;
  font-weight: bold;
  margin-left: 10px;
  color: #081E48;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.pilar-educativo-paragraph-container {
  width: 100%;
  height: 200px;
  background-color: #5E93DB;
  color: white;
}

h3 {
  color: #5E93DB;
}

.section_4_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading_hagamos_equipo {
  color: #5E93DB;
  font-size: 4rem;
  margin-top: 3rem;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.section4_subheading2 {
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #5E93DB;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
}

input {
  background-color: #5E93DB;
  width: 47.5%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  height: 2rem;
  padding-left: 1rem;
  border: none;
  border-radius: 2rem;
  color: #071d49;
}

input::-webkit-input-placeholder {
  color: #071d49;
}

input:-ms-input-placeholder {
  color: #071d49;
}

input::-ms-input-placeholder {
  color: #071d49;
}

input::placeholder {
  color: #071d49;
}

select {
  background-color: #9dc2f2d2;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  height: 2rem;
  padding-left: 1rem;
  border: none;
  width: 90%;
}

select::-webkit-input-placeholder {
  color: #5E93DB;
}

select:-ms-input-placeholder {
  color: #5E93DB;
}

select::-ms-input-placeholder {
  color: #5E93DB;
}

select::placeholder {
  color: #5E93DB;
}

.form_section {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact_form {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blue {
  color: #071d49;
  font-weight: 600;
}

.btn-contact {
  background-color: #071d49;
  font-size: 15px;
  font-weight: 400;
  border: none;
  border-radius: 2rem;
  color: white;
  padding: 1rem 1.75rem 1rem 1.75rem;
  display: block;
  margin-top: 1rem;
}

.btn-contact:hover {
  background-color: #5E93DB;
}

.logo-avion {
  background: url(/assets/emblema_azul.png) no-repeat center;
  background-size: 140px;
  width: 300;
  height: 100;
}

.option_text {
  color: #5E93DB;
}

@media (max-width: 650px) {
  #montaña-desktop {
    width: 100%;
  }
  .banner-pilotos {
    width: 100%;
    background-color: green;
    background-image: url(/styles/equipo/equipo_web/drew-beamer-SMp7v0XAk0M-unsplash-1.png);
    height: 311px;
  }
  .heading_hagamos_equipo {
    font-size: 2.2rem;
    font-weight: 600;
  }
  .section4_subheading2 {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #071d49;
    margin-left: 50px;
    margin-right: 50px;
  }
  #imagen-ansiedad {
    height: 400px;
  }
  .datos-contacto-bold {
    font-weight: 900;
    font-family: "Raleway", sans-serif;
  }
  .contact_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  input {
    background-color: #5E93DB;
    width: 47.5%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 2rem;
    padding-left: 1rem;
    border: none;
    border-radius: 2rem;
    color: #071d49;
  }
  .select {
    background-color: #5E93DB;
    border-radius: 2rem;
  }
}

.main-footer {
  background: white;
  padding: 20px 5px 0px 5px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer nav {
  width: 100%;
}

.main-footer__link a {
  color: #071d49;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #5E93DB;
}

.container_aviso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #071d49;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: auto;
}

.aviso_privacidad {
  color: #5E93DB;
  font-size: 15px;
  margin: auto;
  text-decoration: none;
  opacity: 1;
  font-weight: 100;
}

.avioneta_2020 {
  margin-right: 100px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.franja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
  background-color: #071d49;
  margin-top: 10px;
  padding: 0;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.franja p {
  margin: 5px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.runner-desktop {
  display: none;
}

.nav-desktop {
  display: none;
}

@media (min-width: 1500px) {
  .nav-mobile {
    display: none;
  }
  .desktop-container {
    width: 100%;
    height: 110px;
    background-color: #F5F5F5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-principal {
    display: none;
  }
  .nav-desktop {
    width: 60%;
    max-width: 1140px;
    background-color: #F5F5F5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 53px;
  }
  .nav-logo-avioneta {
    margin: 0;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 80px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .desktop-family-image-div {
    display: inline-block;
  }
  .detox-home-container-desktop {
    display: inline-block;
  }
  .icons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-hyperlink {
    text-decoration: none;
    color: #5E93DB;
  }
  .nav-hyperlink-highlithed {
    color: #071d49;
    font-weight: 600;
    text-decoration: none;
  }
  .detox-paragrah-image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
    background-color: #F5F5F5;
  }
  .detox-home-container-desktop {
    padding-top: 200px;
    padding-right: 100px;
    width: 600px;
  }
  .text-container {
    width: 600px;
  }
  .desktop-family-image {
    background-size: 30%;
    background: url(/styles/detox/assets_detox/family-desktop.png);
  }
  .detox-home-container {
    display: none;
  }
  .image-family {
    display: none;
  }
  .container-paragraph-family {
    width: 60%;
    max-width: 1140px;
    margin: 30px auto;
  }
  .imagen-abstinencia {
    display: none;
  }
  .pilar-educativo-paragraph-container {
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .paragraph-pilar-medico {
    width: 600px;
    max-width: 1140px;
    margin: auto;
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    color: #071d49;
  }
  .paragraph-pilar-medico {
    margin-left: 10px;
    font-size: 20px;
    padding: 30px 10px 30px 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
  }
  .section4_subheading2 {
    width: 60%;
  }
  .desktop-info-60width {
    width: 60%;
    height: 2000px;
    background-color: green;
  }
  .mobile-info-big-container {
    display: none;
  }
  .container-60per {
    width: 60%;
  }
  .container-julls {
    width: 60%;
    max-width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .detox-paragrah-image-container {
    background-color: #F5F5F5;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tenor-medium-70px {
    font-size: 70px;
    font-family: "Tenor Sans", sans-serif;
  }
  .raleway-medium-25px {
    font-size: 25px;
    font-family: "Raleway", sans-serif;
  }
  .raleway-regular-25px {
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }
  .nav-links {
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }
  .nav-links:hover {
    font-weight: bold;
    color: #071d49;
  }
  .nav-hyperlink-highlithed {
    font-weight: bold;
  }
  .flex-end {
    justify-self: flex-end;
  }
  .desktop-info-big-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pilares-desktop {
    margin-left: 10px;
    color: #081E48;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 900;
  }
  .aqui_entra_desktop {
    color: white;
    padding-top: 40px;
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 600;
  }
  .container-julls-column {
    width: 60%;
    max-width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .container-deperesion-desktop {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 80px;
    position: relative;
    background-color: #5E93DB;
  }
  .depresion-texto-desktop {
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    font-weight: 250;
    color: white;
  }
  .desktop-circle-paragraph-container {
    width: 60%;
    max-width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pilares-mobil-todo {
    display: none;
  }
  .runner-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .image-runner-mobile {
    display: none;
  }
  .desktop-row {
    width: 1000px;
    max-width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 200px;
  }
  .container-heading-center-left {
    max-width: 1140px;
    width: 60%;
  }
  .container-deperesion-desktop {
    position: relative;
  }
  .depresion-texto-desktop {
    position: absolute;
    top: 190px;
    left: 900px;
    max-width: 800px;
  }
  .paragraph-runner-foto {
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: white;
  }
  .runner-desktop {
    position: relative;
  }
  .width-div {
    position: absolute;
    max-width: 470px;
    top: 100px;
    left: 50px;
  }
  #sabias-que-el {
    color: white;
    font-weight: 200;
  }
  .desktop-pilares-heading-with-center {
    width: 60%;
    max-width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 40px;
  }
  #pilar-medico-heading-desktop {
    position: relative;
    top: -120;
  }
  #margin45top {
    margin-top: 45px;
  }
  #pilar-psicoterapeutico-heading-desktop {
    position: relative;
    margin-bottom: 5px;
    top: -150;
  }
  #pilar-educativo-heading-desktop {
    color: red;
  }
  #nuestro-pilar-educativo {
    margin-bottom: 5px;
  }
  .background-montaña {
    background-image: url(/styles/detox/assets_detox/Montaña-Degradado-Web.png);
  }
  .pilar-psicotrapeutico-container {
    background-color: none;
  }
  .datos-contacto-bold {
    font-weight: 900;
    font-family: "Raleway", sans-serif;
    color: #071d49;
  }
  .section4_subheading2 {
    color: #071d49;
  }
  .mobile-pagina {
    display: none;
  }
}

@media (max-width: 1500px) {
  .banner-pilotos {
    width: 100%;
    background-color: green;
    background-image: url(/styles/equipo/equipo_web/drew-beamer-SMp7v0XAk0M-unsplash-1.png);
    height: 311px;
  }
  #runner-image {
    max-height: 800px;
  }
  .heading_hagamos_equipo {
    font-size: 2.2rem;
    font-weight: 600;
  }
  .section4_subheading2 {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #071d49;
    margin-left: 50px;
    margin-right: 50px;
  }
  .datos-contacto-bold {
    font-weight: 900;
    font-family: "Raleway", sans-serif;
  }
  .contact_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  input {
    background-color: #5E93DB;
    margin-top: 10px;
    width: 100%;
    border-radius: 2rem;
  }
  .select {
    background-color: #5E93DB;
    border-radius: 2rem;
  }
}

.main-footer {
  background: white;
  padding: 20px 5px 0px 5px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer nav {
  width: 100%;
}

.main-footer__link a {
  color: #071d49;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #5E93DB;
}

.container_aviso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #071d49;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: auto;
}

.aviso_privacidad {
  color: #5E93DB;
  font-size: 15px;
  margin: auto;
  text-decoration: none;
  opacity: 1;
}

.avioneta_2020 {
  margin-right: 100px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.franja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
  background-color: #071d49;
  margin-top: 10px;
  padding: 0;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.franja p {
  margin: 5px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.runner-desktop {
  display: none;
}

.nav-desktop {
  display: none;
}

@media (min-width: 600px) {
  .nav-mobile {
    display: none;
  }
  .bold-500 {
    font-weight: 600;
  }
  #montana_destkop {
    display: block;
  }
  .desktop-container {
    width: 100%;
    height: 110px;
    background-color: #F5F5F5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-principal {
    display: none;
  }
  .nav-desktop {
    width: 1000px;
    max-width: 1140px;
    background-color: #F5F5F5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 53px;
  }
  #runner-image {
    max-height: 400px;
  }
  #facebook_position {
    position: relative;
  }
  #facebook-image {
    position: absolute;
    top: -2px;
    left: 7px;
  }
  .icons-list li {
    width: 10px;
  }
  .icons-list li a {
    max-width: 100%;
  }
  .desktop-family-image-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .desktop-andsiedad-image-div img {
    height: 350px;
  }
  .desktop-family-image-div img {
    height: 450px;
  }
  .nav-logo-avioneta {
    margin: 0;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 80px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .desktop-family-image-div {
    display: inline-block;
  }
  .detox-home-container-desktop {
    display: inline-block;
    padding-right: 50px;
    padding-bottom: 50px;
  }
  .icons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 110px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-hyperlink {
    text-decoration: none;
    color: #5E93DB;
  }
  .nav-hyperlink-highlithed {
    color: #071d49;
    font-weight: 600;
    text-decoration: none;
  }
  .detox-paragrah-image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
    background-color: #F5F5F5;
  }
  .detox-home-container-desktop {
    padding-top: 50px;
    width: 600px;
  }
  .text-container {
    width: 600px;
  }
  .desktop-family-image {
    background-size: 30%;
    background: url(/styles/detox/assets_detox/family-desktop.png);
  }
  .detox-home-container {
    display: none;
  }
  .image-family {
    display: none;
  }
  .container-paragraph-family {
    width: 1000px;
    max-width: 1140px;
    margin: 30px auto;
  }
  .imagen-abstinencia {
    display: none;
  }
  .pilar-educativo-paragraph-container {
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .paragraph-pilar-medico {
    width: 700px;
    max-width: 1140px;
    margin: auto;
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    color: #071d49;
  }
  .section4_subheading2 {
    width: 60%;
  }
  .desktop-info-60width {
    width: 60%;
    height: 2000px;
    background-color: green;
  }
  .mobile-info-big-container {
    display: none;
  }
  .container-60per {
    width: 60%;
  }
  .container-julls {
    width: 1000px;
    max-width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .detox-paragrah-image-container {
    background-color: #F5F5F5;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tenor-medium-70px {
    font-size: 70px;
    font-family: "Tenor Sans", sans-serif;
  }
  .raleway-medium-25px {
    font-size: 25px;
    font-family: "Raleway", sans-serif;
  }
  .raleway-regular-25px {
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }
  .nav-links {
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }
  .nav-links:hover {
    font-weight: bold;
    color: #071d49;
  }
  .nav-hyperlink-highlithed {
    font-weight: bold;
  }
  .flex-end {
    justify-self: flex-end;
  }
  .desktop-info-big-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pilares-desktop {
    margin-left: 10px;
    color: #081E48;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 900;
  }
  .aqui_entra_desktop {
    color: white;
    padding-top: 40px;
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 600;
  }
  .container-julls-column {
    width: 60%;
    max-width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .container-deperesion-desktop {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 80px;
    position: relative;
    background-color: #5E93DB;
  }
  .depresion-texto-desktop {
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    font-weight: 250;
    color: white;
  }
  .desktop-circle-paragraph-container {
    width: 60%;
    max-width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pilares-mobil-todo {
    display: none;
  }
  .runner-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .image-runner-mobile {
    display: none;
  }
  .desktop-row {
    width: 60%;
    max-width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container-heading-center-left {
    max-width: 1140px;
    width: 60%;
  }
  .container-deperesion-desktop {
    position: relative;
  }
  .depresion-texto-desktop {
    position: absolute;
    top: 110px;
    left: 700px;
    max-width: 800px;
  }
  .paragraph-runner-foto {
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: white;
  }
  .runner-desktop {
    position: relative;
  }
  .width-div {
    position: absolute;
    max-width: 600px;
    top: 20px;
    left: 100px;
    width: 50%;
  }
  #sabias-que-el {
    color: white;
    width: 1000px;
  }
  #runner-azul {
    color: #071d49;
  }
  .desktop-pilares-heading-with-center {
    width: 60%;
    max-width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 40px;
  }
  #pilar-medico-heading-desktop {
    position: relative;
    top: -120;
  }
  #margin45top {
    margin-top: 45px;
  }
  #pilar-psicoterapeutico-heading-desktop {
    position: relative;
    margin-bottom: 5px;
    top: -150;
    left: -110;
  }
  #pilar-educativo-heading-desktop {
    color: red;
  }
  #nuestro-pilar-educativo {
    margin-bottom: 5px;
  }
  #estela_desktop {
    width: 90%;
    position: absolute;
    left: 10%;
  }
  .background-montaña {
    background-image: url(/styles/detox/assets_detox/Montaña-Degradado-Web.png);
    background-size: cover;
    background: #ed9956;
    background: -webkit-gradient(linear, left bottom, left top, from(#ed9956), color-stop(50%, #a9a4b2), to(#5e93db));
    background: linear-gradient(0deg, #ed9956 0%, #a9a4b2 50%, #5e93db 100%);
    position: relative;
  }
  .pilar-psicotrapeutico-container {
    background-color: none;
    background-image: none;
  }
  .datos-contacto-bold {
    font-weight: 900;
    font-family: "Raleway", sans-serif;
    color: #071d49;
  }
  .section4_subheading2 {
    color: #071d49;
  }
  .mobile-pagina {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */