@import "./variables";


.main-footer {
  background: $white;
  padding: 20px 5px 0px 5px;
  background-color: $white;
  display: flex;
}

footer nav {
  width: 100%;
}

.main-footer__link a {
  color: $darkBlue;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: $lightBlue;
}

.container_aviso {
  display: flex;
  flex-direction: column;
  color: $darkBlue;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.aviso_privacidad {
  color: $lightBlue;
  font-size: 12px;
  margin: auto
}

.avioneta_2020 {
  margin-right: 100px;
  flex: 2;
  text-align: center;
}

.franja {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 50px;
  background-color: $darkBlue;
  margin: 0;
  padding: 0;
  color: white;
  align-items: center;
  justify-content: center;
}

.franja p {
  margin: 5px;
}

