@import "./variables";


.main-footer {
  background: $white;
  padding: 2rem;
  background-color: $white;
  display: flex;
}

footer nav {
  width: 100%;
}

.main-footer__link a {
  color: $darkBlue;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: $lightBlue;
}

.container_aviso {
  display: flex;
  flex-direction: column;
  color: $darkBlue;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.aviso_privacidad {
  color: $lightBlue;
  font-size: 12px;
  margin: auto
}4
.avioneta_2020 {
  margin-right: 100px;
  flex: 2;
  text-align: center;
}

