@import "./variables";

.hero-image {
  position: relative;
  height: 500px;
  overflow: hidden;
  background: url(../assets/Avio_WEB_Asset-02.png) no-repeat center;
  background-size: cover;
  z-index: 1;
  justify-content: left;
}

.hero-logo {
  display: block;
  margin-top: 3rem;
  height: 100px;
  width: 410px;
  z-index: 3;
}

.hero-logo-mobile {
  display: none;
}

.container-hero-image {
  position: absolute;
  width: 50%;
  overflow: hidden;
  margin-left: 10vh;
  z-index: 2;
  margin-top: 4rem;
}

.hero-heading {
  font-size: 1rem;
  color: white;
  font-family: $Raleway;
  font-weight: 200;
  font-size: 20px;
  margin-right: 20px;
}

.emprende-vuelo {
  display: inline;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  font-size: 70px;
  font-family: $Raleway;
  font-weight: 900;
}

.vuelo {
  display: inline;
  display: inline;
  margin: 0;
  padding: 0;
  color: $darkBlue;
  font-weight: 900;
  font-family: $Raleway;
  font-size: 70px;
}

.hero-subheading {
  font-size: 1rem;
}

.btn-contact {
  background-color: $darkBlue;
  font-size: 10px;
  font-weight: 400;
  border: none;
  border-radius: 2rem;
  color: white;
  padding: 1rem 1.75rem 1rem 1.75rem;
  display: block;
  margin-top: 1rem;
  &:hover {
    background-color: $lightBlue;
  }
}

@media (max-width: 650px) {
  .hero-image {
    height: 500px;
    background: url(../assets/Avio_WEB_Asset-02.png) no-repeat center;
    background-size: cover;
  }

  .navbar {
    justify-content: center;
    align-items: center;
  }

  .toogle-button {
    align-self: center;
  }

  .brand-title {
    justify-content: center;
  }

  .hero-logo-mobile {
    height: 0;
  }

  .container-hero-image {
    display: flex;
    flex-direction: column;
  }

  .emprende-vuelo {
    font-size: 40px;
  }

  .vuelo {
    font-size: 40x;
  }

  .hero-logo-mobile {
    background: url(../assets/Avio_WEB_Asset-02.png) no-repeat;
    position: absolute;
    display: block;
    margin: auto;
    margin-top: 3rem;
    height: 100px;
    width: 410px;
    z-index: 3;
  }

  .container-hero-image {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-left: 5vh;
    z-index: 2;
    margin-top: 5rem;
  }

  .btn-contact {
    width: 160px;
  }

  .background_text_mobile {
    width: 80%;
  }
}
