@import "./variables";

.hero-image {
  position: relative;
  height: 500px;
  overflow: hidden;
  background: url(../assets/Avio_WEB_Asset-02.png) no-repeat center;
  background-size: cover;
  z-index: 1;
  justify-content: left;
}

.hero-logo {
  display: block;
  margin-top: 3rem;
  height: 100px;
  width: 410px;
  z-index: 3;
}

.hero-logo-mobile {
  display: none;
}

.container-hero-image  {
  position: absolute;
  width: 50%;
  overflow: hidden;
  margin-left: 10vh;
  z-index: 2;
  margin-top: 4rem;
}

.hero-heading {
  font-size: 1.0rem;
  color: white;
  font-family: $Raleway;
  font-weight: 200;
  font-size: 30px;

}

.emprende-vuelo {
  display: inline;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  font-size: 5rem ;
  font-family: $Raleway;
  font-weight: 900;
}

.vuelo {
  display: inline;
  display: inline;
  margin: 0;
  padding: 0;
  color: $darkBlue;
  font-weight: 900;
  font-family: $Raleway;
  font-size: 5rem;
}

.hero-subheading {
  font-size: 1.0rem;
}

.btn-contact {
  background-color: $darkBlue;
  font-size: 15px;
  font-weight: 400;
  border: none;
  border-radius: 2rem;
  color: white;
  padding: 1rem 1.75rem 1rem 1.75rem;
  display: block;
  margin-top: 1rem;
    &:hover {
      background-color: $lightBlue;
    }
}

@media screen and (max-width: 650px) {
  .hero-image {
    height: 500px;
    background: url(../assets/Avio_WEB_Asset-02.png) no-repeat center;
    background-size: cover;
  }
  .container-hero-image  {
    display: none;
  }

  .hero-logo-mobile {
  background: url(../assets/Avio_WEB_Asset-02.png) no-repeat;
  display: block;
  margin: auto;
  margin-top: 3rem;
  height: 100px;
  width: 410px;
  z-index: 3;
  }
}
