@import "./variables";

.big_container {
  background-color: $superlightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  .seccion2_main_container {
    flex-wrap: wrap;
    margin: 0 15px 0 15px;
    display: flex;
    .servicio_container_1 {
      padding: 2rem;
      flex: 0 0 0 33%;
      max-width: 33%;
      align-items: center;
      text-align: center;
      .para_servicio {
        color: $white;
      }
      &:first-child {
        flex: 0 0 0 25%;
        max-width: 25%;
        margin: 0;
        background-color: $darkBlue;
      }
      .a-btn {
        text-decoration: none;
        .btn-product-page {
          margin: auto;
        }
      }
      .servicio {
        width: 15vh;
        height: 15vh;
        margin: auto;
        &.servicio1 {
          background: url(../assets/Avio_WEB_Asset-14.png) no-repeat center;
          background-size: 70%;
        }
      }
    }
    .servicio_container_2 {
      display: flex;
      flex: 0 0 0 75%;
      max-width: 75%;
      flex-wrap: wrap;
      .prgrf {
        flex: 0 0 80%;
        max-width: 80%;
        margin: auto;
        text-align: center;
        padding: 1rem 0;
      }
      .a-btn {
        text-decoration: none;
        .btn-product-page {
          margin: auto;
        }
      }
      .sub_servicio_container {
        flex: 0 0 0 33%;
        max-width: 33%;
        text-align: center;
        padding: 1rem;
        .servicio {
          width: 15vh;
          height: 15vh;
          margin: auto;
          &.servicio2 {
            background: url(../assets/Avio_WEB_Asset-15.png) no-repeat center;
            background-size: 70%;
          }

          &.servicio3 {
            background: url(../assets/Avio_WEB_Asset-16.png) no-repeat center;
            background-size: 70%;
          }

          &.servicio4 {
            background: url(../assets/Avio_WEB_Asset-17.png) no-repeat center;
            background-size: 45%;
          }
        }
      }
    }
  }
}

.section2_heading {
  // color: $white;
  margin-bottom: 3vh;
  font-family: $Raleway;
  font-weight: 900;
  font-size: 3rem;
}

.servicio_container input {
  align-self: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.btn-image {
  height: 50px;
  width: 155px;
  background: none;
}

.title-paquete {
  margin-left: $columnmargin;
}

.list-paquete {
  margin-left: $columnmargin;
  width: 70%;
}

.list-paquete li {
  margin-top: 1rem;
}

.display_container {
  display: none;
}

.btn-product-page {
  background-color: $lightBlue;
  height: 50px;
  width: 150px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 2rem;
  text-decoration: none;
  color: white;
  display: block;
  margin-top: 10px;
  &:hover {
    background-color: $darkBlue;
  }
}

.btn-product-page-cancel {
  background-color: rgba(207, 205, 205, 0.945);
  height: 50px;
  width: 150px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 2rem;
  text-decoration: none;
  color: white;
  display: block;
  margin-top: 10px;
}

#canceled {
  background-color: grey;
  &:hover,
  &:active {
    background-color: darken($color: grey, $amount: 10%);
  }
}

.servicio-title-heading {
  font-size: 24px;
  font-family: $Raleway;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 15px;
}

.para_servicio {
  height: 100px;
  font-size: 18px;
  font-family: $Raleway;
  text-align: center;
}

@media (max-width: 650px) {
  .big_container {
    flex-direction: column;
  }

  .seccion2_main_container {
    flex-direction: column;
  }

  .heading_hagamos_equipo {
    font-size: 2rem;
  }

  .para_servicio {
    width: 250px;
    height: 100px;
  }

  .servicio_container {
    margin-top: 10px;
  }

  .section2_heading {
    margin-top: 4rem;
    font-size: 2rem;
  }

  .para_servicio {
    height: 80px;
    width: 280px;
  }

  .servicio {
    margin-top: 30px;
  }
}

@media (max-width: 360px) {
}
