// Colors
$darkBlue: #071d49;
$lightBlue: #5E93DB;
$lightBlueTransparent: #64c1e3e7;
$backgroundColorLight: #F5F5F5;
$white: white;
$errorRes: red;
$columnOneColor: #5e93dB;
$superlightblue: #9dc2f2d2;
$columnThreeColor: #5E93DB;
$columnFourColor: #071D49;
$columnmargin: 15vh;
$Raleway: "Raleway", sans-serif;
$Tenor: 'Tenor Sans', sans-serif;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// General

$Raleway: 'Raleway', sans-serif; 
$black: 800;

h3 {
  color: $lightBlue;
}


