// Colors
$darkBlue: #141f48;
$lightBlue: #5e93dB;
$lightBlueTransparent: #64c1e3e7;
$white: white;
$errorRes: red;
$columnOneColor: #5e93dB;
$superlightblue: #9dc2f2d2;
$columnThreeColor: #5E93DB;
$columnFourColor: #071D49;
$columnmargin: 15vh;


// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Raleway');

// General


h3 {
  color: $lightBlue;
}


