@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h3 {
  color: #5e8ed6;
}

h3 {
  color: #5e8ed6;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5e8ed6;
  color: #141f48;
  padding: 5px;
  padding-left: 15vh;
  padding-right: 15vh;
  height: 10vh;
}

.brand-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-image {
  width: 50%;
}

.navbar-links {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  white-space: nowrap;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 200;
}

.navbar-links li a:hover {
  color: #071d49;
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #141f48;
  border-radius: 10px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 1%;
}

.icons a img {
  width: 25px;
  margin: 5px;
}

@media (max-width: 650px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-links ul li {
    text-align: center;
  }
  .navbar-links ul li a {
    padding: .5rem 1rem;
  }
  .navbar-links.active {
    padding-top: 10px;
    height: 250px;
    display: block;
    position: absolute;
    top: 80px;
    z-index: 10;
    background: #071d49;
  }
  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 1%;
    margin-top: 8px;
  }
  .navbar-links li a:hover {
    color: #5e8ed6;
  }
}

h3 {
  color: #5e8ed6;
}

.hero-image {
  position: relative;
  height: 500px;
  overflow: hidden;
  background: url(../assets/Avio_WEB_Asset-02.png) no-repeat center;
  background-size: cover;
  z-index: 1;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.hero-logo {
  display: block;
  margin-top: 3rem;
  height: 100px;
  width: 410px;
  z-index: 3;
}

.hero-logo-mobile {
  display: none;
}

.container-hero-image {
  position: absolute;
  width: 50%;
  overflow: hidden;
  margin-left: 10vh;
  z-index: 2;
  margin-top: 4rem;
}

.hero-heading {
  font-size: 1.0rem;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.emprende-vuelo {
  display: inline;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  font-size: 70px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.vuelo {
  display: inline;
  display: inline;
  margin: 0;
  padding: 0;
  color: #071d49;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  font-size: 70px;
}

.hero-subheading {
  font-size: 1.0rem;
}

.btn-contact {
  background-color: #071d49;
  font-size: 10px;
  font-weight: 400;
  border: none;
  border-radius: 2rem;
  color: white;
  padding: 1rem 1.75rem 1rem 1.75rem;
  display: block;
  margin-top: 1rem;
}

.btn-contact:hover {
  background-color: #5e8ed6;
}

@media (max-width: 650px) {
  .hero-image {
    height: 500px;
    background: url(../assets/Avio_WEB_Asset-02.png) no-repeat center;
    background-size: cover;
  }
  .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .toogle-button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .brand-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-logo-mobile {
    height: 0;
  }
  .container-hero-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .emprende-vuelo {
    font-size: 40px;
  }
  .vuelo {
    font-size: 40x;
  }
  .hero-logo-mobile {
    background: url(../assets/Avio_WEB_Asset-02.png) no-repeat;
    position: absolute;
    display: block;
    margin: auto;
    margin-top: 3rem;
    height: 100px;
    width: 410px;
    z-index: 3;
  }
  .container-hero-image {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-left: 5vh;
    z-index: 2;
    margin-top: 5rem;
  }
  .btn-contact {
    width: 160px;
  }
  .background_text_mobile {
    width: 80%;
  }
}

h3 {
  color: #5e8ed6;
}

.seccion1_main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5vh 10vh 5vh 10vh;
  background: white;
}

.img_couple {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url(../assets/Avio_WEB_Asset-08.png) no-repeat center;
  background-size: 100%;
  margin-right: 5vh;
}

.section1_text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.subheading_section1 {
  color: #5e8ed6;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.circle_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 3px;
}

.circle {
  width: 25vh;
  height: 25vh;
}

.circle1 {
  background: url(../assets/Avio_WEB_Asset-09.png) no-repeat center;
  background-size: 100%;
}

.circle2 {
  background: url(../assets/Avio_WEB_Asset-10.png) no-repeat center;
  background-size: 100%;
}

.circle3 {
  background: url(../assets/Avio_WEB_Asset-11.png) no-repeat center;
  background-size: 100%;
}

.circle4 {
  background: url(../assets/Avio_WEB_Asset-12.png) no-repeat center;
  background-size: 100%;
}

.circle5 {
  background: url(../assets/Avio_WEB_Asset-13.png) no-repeat center;
  background-size: 100%;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.content_servicio {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}

.bold {
  font-weight: bold;
}

@media (max-width: 650px) {
  .img_couple {
    -webkit-box-flex: 1;
    /* flex: 1; */
    background: url(../assets/Avio_WEB_Asset-08.png) no-repeat center;
    background-size: 100%;
    margin-right: 0;
    height: 200px;
  }
  .seccion1_main_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vuelo {
    font-size: 3rem;
    background-color: #5e8ed6;
  }
  .content_servicio {
    font-size: 15px;
  }
}

h3 {
  color: #5e8ed6;
}

.big_container {
  background-color: #9dc2f2d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2_heading {
  margin-top: 5vh;
  margin-bottom: 3vh;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

.seccion2_main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0vh 10vh 5vh 10vh;
}

.servicio_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10px 0px 10px;
}

.servicio_container input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.servicio {
  width: 15vh;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.servicio1 {
  background: url(../assets/Avio_WEB_Asset-14.png) no-repeat center;
  background-size: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  justify-self: flex-start;
}

.servicio2 {
  background: url(../assets/Avio_WEB_Asset-15.png) no-repeat center;
  background-size: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  justify-self: flex-start;
}

.servicio3 {
  background: url(../assets/Avio_WEB_Asset-16.png) no-repeat center;
  background-size: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.servicio4 {
  background: url(../assets/Avio_WEB_Asset-17.png) no-repeat center;
  background-size: 45%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.btn-image {
  height: 50px;
  width: 155px;
  background: none;
}

.title-paquete {
  margin-left: 15vh;
}

.list-paquete {
  margin-left: 15vh;
  width: 70%;
}

.list-paquete li {
  margin-top: 1rem;
}

.display_container {
  display: none;
}

.btn-product-page {
  background-color: #5e8ed6;
  height: 50px;
  width: 150px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 2rem;
  text-decoration: none;
  color: white;
  display: block;
  margin-top: 10px;
}

.btn-product-page:hover {
  background-color: #071d49;
}

.a-btn {
  justify-self: flex-end;
  text-decoration: none;
}

.para_servicio {
  height: 100px;
}

@media (max-width: 650px) {
  .big_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .seccion2_main_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .heading_hagamos_equipo {
    font-size: 2rem;
  }
  .para_servicio {
    width: 250px;
    height: 100px;
  }
  .servicio_container {
    margin-top: 10px;
  }
  .section2_heading {
    margin-top: 4rem;
    font-size: 2rem;
  }
  .para_servicio {
    height: 50px;
    width: 280px;
  }
  .servicio {
    margin-top: 30px;
  }
}

h3 {
  color: #5e8ed6;
}

.section_4_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading_hagamos_equipo {
  color: #5e8ed6;
  font-size: 4rem;
  margin-top: 3rem;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.section4_subheading2 {
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #5e8ed6;
  margin-right: 50px;
  margin-left: 50px;
}

input {
  background-color: #9dc2f2d2;
  width: 47.5%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  height: 2rem;
  padding-left: 1rem;
  border: none;
  color: #071d49;
}

input::-webkit-input-placeholder {
  color: #5e8ed6;
}

input:-ms-input-placeholder {
  color: #5e8ed6;
}

input::-ms-input-placeholder {
  color: #5e8ed6;
}

input::placeholder {
  color: #5e8ed6;
}

select {
  background-color: #9dc2f2d2;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  height: 2rem;
  padding-left: 1rem;
  border: none;
  width: 90%;
  height: 70px;
}

select::-webkit-input-placeholder {
  color: #5e8ed6;
}

select:-ms-input-placeholder {
  color: #5e8ed6;
}

select::-ms-input-placeholder {
  color: #5e8ed6;
}

select::placeholder {
  color: #5e8ed6;
}

.form_section {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact_form {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blue {
  color: #071d49;
}

.btn-contact {
  background-color: #071d49;
  font-size: 15px;
  font-weight: 400;
  border: none;
  border-radius: 2rem;
  color: white;
  padding: 1rem 1.75rem 1rem 1.75rem;
  display: block;
  margin-top: 1rem;
}

.btn-contact:hover {
  background-color: #5e8ed6;
}

.logo-avion {
  background: url(/assets/emblema_azul.png) no-repeat center;
  background-size: 200px;
  width: 300;
  height: 100;
}

.option_text {
  color: #5e8ed6;
}

@media (max-width: 650px) {
  .heading_hagamos_equipo {
    font-size: 2.2rem;
  }
  .section4_subheading2 {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #5e8ed6;
    margin-left: 50px;
    margin-right: 50px;
  }
  .contact_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  input {
    width: 100%;
  }
  .select {
    height: 40px;
  }
}

h3 {
  color: #5e8ed6;
}

.main-footer {
  background: white;
  padding: 2rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer nav {
  width: 100%;
}

.main-footer__link a {
  color: #071d49;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #5e8ed6;
}

.container_aviso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #071d49;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: auto;
}

.aviso_privacidad {
  color: #5e8ed6;
  font-size: 12px;
  margin: auto;
}

4
.avioneta_2020 {
  margin-right: 100px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Raleway;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}
/*# sourceMappingURL=style.css.map */