@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h3 {
  color: #5E93DB;
}

h3 {
  color: #5E93DB;
}

.nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F5F5;
  height: 75px;
  justify-items: center;
}

.menu-mobile-dropdown {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #071d49;
  color: #5E93DB;
  font-size: 45px;
  font-family: "Raleway", sans-serif;
  height: 764;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links-mobile-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.links-mobile-dropdown a {
  text-decoration: none;
}

.links-mobile-dropdown a:hover {
  color: white;
  border-top: white solid 1px;
  border-bottom: white solid 1px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #071d49;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.background-white {
  background-color: white;
}

.dark-blue {
  background-color: #071d49;
}

.menu-mobile-dropdown a {
  color: #5E93DB;
  padding-left: 10px;
  padding: 8px 0px 8px 0px;
  margin-left: 5px;
}

.nav-logo-avioneta {
  display: inline;
  margin-left: 20px;
}

.nav-hyperlink {
  text-decoration: none;
  color: #5E93DB;
}

.container-hamburger {
  display: inline;
  cursor: pointer;
  margin-right: 15px;
}

.nav-desktop {
  display: none;
}

@media (min-width: 600px) {
  .nav-mobile {
    display: none;
  }
  .nav-logo-avioneta {
    margin: 0;
  }
  .desktop-container {
    width: 100%;
    height: 110px;
    background-color: #F5F5F5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-desktop {
    width: 1000px;
    max-width: 1140px;
    background-color: #F5F5F5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 48px;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 80px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-links {
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }
  .nav-links:hover {
    font-weight: bold;
    color: #071d49;
  }
  .icons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 110px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .icons-list li {
    width: 10px;
  }
  .icons-list li a {
    max-width: 100%;
  }
  #facebook_position {
    position: relative;
  }
  #facebook-image {
    position: absolute;
    top: -2px;
    left: 7px;
  }
}

h3 {
  color: #5E93DB;
}

.hero-image {
  position: relative;
  height: 500px;
  overflow: hidden;
  background: url(../assets/Avio_WEB_Asset-02.png) no-repeat center;
  background-size: cover;
  z-index: 1;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.hero-logo {
  display: block;
  margin-top: 3rem;
  height: 100px;
  width: 410px;
  z-index: 3;
}

.hero-logo-mobile {
  display: none;
}

.container-hero-image {
  position: absolute;
  width: 50%;
  overflow: hidden;
  margin-left: 10vh;
  z-index: 2;
  margin-top: 4rem;
}

.hero-heading {
  font-size: 1.0rem;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 20px;
  margin-right: 20px;
}

.emprende-vuelo {
  display: inline;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  font-size: 70px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.vuelo {
  display: inline;
  display: inline;
  margin: 0;
  padding: 0;
  color: #071d49;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  font-size: 70px;
}

.hero-subheading {
  font-size: 1.0rem;
}

.btn-contact {
  background-color: #071d49;
  font-size: 10px;
  font-weight: 400;
  border: none;
  border-radius: 2rem;
  color: white;
  padding: 1rem 1.75rem 1rem 1.75rem;
  display: block;
  margin-top: 1rem;
}

.btn-contact:hover {
  background-color: #5E93DB;
}

@media (max-width: 650px) {
  .hero-image {
    height: 500px;
    background: url(../assets/Avio_WEB_Asset-02.png) no-repeat center;
    background-size: cover;
  }
  .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .toogle-button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .brand-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-logo-mobile {
    height: 0;
  }
  .container-hero-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .emprende-vuelo {
    font-size: 40px;
  }
  .vuelo {
    font-size: 40x;
  }
  .hero-logo-mobile {
    background: url(../assets/Avio_WEB_Asset-02.png) no-repeat;
    position: absolute;
    display: block;
    margin: auto;
    margin-top: 3rem;
    height: 100px;
    width: 410px;
    z-index: 3;
  }
  .container-hero-image {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-left: 5vh;
    z-index: 2;
    margin-top: 5rem;
  }
  .btn-contact {
    width: 160px;
  }
  .background_text_mobile {
    width: 80%;
  }
}

h3 {
  color: #5E93DB;
}

.seccion1_main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5vh 10vh 5vh 10vh;
  background: white;
}

.img_couple {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url(../assets/Avio_WEB_Asset-08.png) no-repeat center;
  background-size: 100%;
  margin-right: 5vh;
}

.section1_text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.subheading_section1 {
  color: #5E93DB;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.circle_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 24px;
  margin: 20px 0px 20px 0px;
  padding: 0px 15px 0px 15px;
}

.circle_container {
  font-size: 18px;
}

.circle {
  width: 25vh;
  height: 25vh;
}

.circle1 {
  background: url(../assets/Avio_WEB_Asset-09.png) no-repeat center;
  background-size: 100%;
}

.circle2 {
  background: url(../assets/Avio_WEB_Asset-10.png) no-repeat center;
  background-size: 100%;
}

.circle3 {
  background: url(../assets/Avio_WEB_Asset-11.png) no-repeat center;
  background-size: 100%;
}

.circle4 {
  background: url(../assets/Avio_WEB_Asset-12.png) no-repeat center;
  background-size: 100%;
}

.circle5 {
  background: url(../assets/Avio_WEB_Asset-13.png) no-repeat center;
  background-size: 100%;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.content_servicio {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

.bold {
  font-weight: bold;
}

@media (max-width: 650px) {
  .img_couple {
    -webkit-box-flex: 1;
    /* flex: 1; */
    background: url(../assets/Avio_WEB_Asset-08.png) no-repeat center;
    background-size: 100%;
    margin-right: 0;
    height: 200px;
  }
  .seccion1_main_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vuelo {
    font-size: 3rem;
    background-color: #5E93DB;
  }
  .content_servicio {
    font-size: 15px;
    margin-top: 20px;
  }
}

h3 {
  color: #5E93DB;
}

.big_container {
  background-color: #9dc2f2d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2_heading {
  margin-top: 5vh;
  margin-bottom: 3vh;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

.seccion2_main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0vh 10vh 5vh 10vh;
}

.servicio_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 20px 0px 20px;
}

.servicio_container input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.servicio {
  width: 15vh;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.servicio1 {
  background: url(../assets/Avio_WEB_Asset-14.png) no-repeat center;
  background-size: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  justify-self: flex-start;
}

.servicio2 {
  background: url(../assets/Avio_WEB_Asset-15.png) no-repeat center;
  background-size: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  justify-self: flex-start;
}

.servicio3 {
  background: url(../assets/Avio_WEB_Asset-16.png) no-repeat center;
  background-size: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.servicio4 {
  background: url(../assets/Avio_WEB_Asset-17.png) no-repeat center;
  background-size: 45%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.btn-image {
  height: 50px;
  width: 155px;
  background: none;
}

.title-paquete {
  margin-left: 15vh;
}

.list-paquete {
  margin-left: 15vh;
  width: 70%;
}

.list-paquete li {
  margin-top: 1rem;
}

.display_container {
  display: none;
}

.btn-product-page {
  background-color: #5E93DB;
  height: 50px;
  width: 150px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 2rem;
  text-decoration: none;
  color: white;
  display: block;
  margin-top: 10px;
}

.btn-product-page:hover {
  background-color: #071d49;
}

.btn-product-page-cancel {
  background-color: rgba(207, 205, 205, 0.945);
  height: 50px;
  width: 150px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 2rem;
  text-decoration: none;
  color: white;
  display: block;
  margin-top: 10px;
}

#canceled {
  background-color: grey;
}

.a-btn {
  justify-self: flex-end;
  text-decoration: none;
}

.servicio-title-heading {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}

.para_servicio {
  height: 100px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

@media (max-width: 650px) {
  .big_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .seccion2_main_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .heading_hagamos_equipo {
    font-size: 2rem;
  }
  .para_servicio {
    width: 250px;
    height: 100px;
  }
  .servicio_container {
    margin-top: 10px;
  }
  .section2_heading {
    margin-top: 4rem;
    font-size: 2rem;
  }
  .para_servicio {
    height: 80px;
    width: 280px;
  }
  .servicio {
    margin-top: 30px;
  }
}

h3 {
  color: #5E93DB;
}

.section_4_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading_hagamos_equipo {
  color: #5E93DB;
  font-size: 4rem;
  margin-top: 3rem;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.section4_subheading2 {
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #5E93DB;
  margin-right: 50px;
  margin-left: 50px;
}

input {
  background-color: #9dc2f2d2;
  width: 47.5%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  height: 2rem;
  padding-left: 1rem;
  border: none;
  color: #071d49;
}

input::-webkit-input-placeholder {
  color: #5E93DB;
}

input:-ms-input-placeholder {
  color: #5E93DB;
}

input::-ms-input-placeholder {
  color: #5E93DB;
}

input::placeholder {
  color: #5E93DB;
}

select {
  background-color: #9dc2f2d2;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  height: 2rem;
  padding-left: 1rem;
  border: none;
  width: 90%;
  height: 70px;
}

.error_message {
  font-size: 20px;
  font-family: Raleway;
  margin-top: 20px;
  color: #071d49;
  font-weight: 900;
  margin-bottom: 20px;
  text-decoration: underline;
}

select::-webkit-input-placeholder {
  color: #5E93DB;
}

select:-ms-input-placeholder {
  color: #5E93DB;
}

select::-ms-input-placeholder {
  color: #5E93DB;
}

select::placeholder {
  color: #5E93DB;
}

.form_section {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact_form {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blue {
  color: #071d49;
}

.btn-contact {
  background-color: #071d49;
  font-size: 15px;
  font-weight: 400;
  border: none;
  border-radius: 2rem;
  color: white;
  padding: 1rem 1.75rem 1rem 1.75rem;
  display: block;
  margin-top: 1rem;
}

.btn-contact:hover {
  background-color: #5E93DB;
}

.logo-avion {
  background: url(/assets/emblema_azul.png) no-repeat center;
  background-size: 200px;
  width: 300;
  height: 100;
}

.option_text {
  color: #5E93DB;
}

@media (max-width: 650px) {
  .heading_hagamos_equipo {
    font-size: 2.2rem;
  }
  .section4_subheading2 {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #5e8ed6;
    margin-left: 50px;
    margin-right: 50px;
  }
  .contact_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  input {
    width: 100%;
  }
  .select {
    height: 40px;
  }
}

h3 {
  color: #5E93DB;
}

.main-footer {
  background: white;
  padding: 20px 5px 0px 5px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer nav {
  width: 100%;
}

.main-footer__link a {
  color: #071d49;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #5E93DB;
}

.container_aviso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #071d49;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: auto;
}

.aviso_privacidad {
  color: #5E93DB;
  font-size: 12px;
  margin: auto;
}

.avioneta_2020 {
  margin-right: 100px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.franja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
  background-color: #071d49;
  margin: 0;
  padding: 0;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.franja p {
  margin: 5px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/* header */
.header {
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .icons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .my-column {
    background-color: red;
    color: green;
  }
  .image-runner {
    display: none;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Raleway;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.whatsapp-button {
  position: fixed;
  bottom: 45px;
  right: 45px;
  background-color: #25d366;
  z-index: 9999 !important;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.whatsapp-button .btn-whtsp {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #075e54;
  font-size: 40px;
}

.whatsapp-button .btn-whtsp img {
  width: 80%;
}
/*# sourceMappingURL=style.css.map */