@import "./variables";
@import "./navbar";
@import "./hero_image";
@import "./seccion1";
@import "./seccion2";
@import "./seccion4";
@import "./footer";
@import "./detox.scss";

* {
  box-sizing: border-box;
  font-family: Raleway;
}

body {
  margin: 0;
  padding: 0;
  background-color: $white;
}

.whatsapp-button {
  position: fixed;
  bottom: 45px;
  right: 45px;
  background-color: #25d366;
  z-index: 9999 !important;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  .btn-whtsp {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #075e54;
    font-size: 40px;
    img {
      width: 80%;
    }
  }
}
